{% extends 'base.html' %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h2>Dados pessoais</h2>
    <form action="" method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
            <label>Data de nascimento</label>
            {{ form.birth_date(class="form-control", placeholder="Data de nascimento") }}
            {% if form.errors.birth_date %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.birth_date %}
                        <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>E-mail alternativo</label>
            {{ form.alternative_email(class="form-control", placeholder="Seu e-mail alternativo") }}
            {% if form.errors.alternative_email %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.alternative_email %}
                        <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        
        <div class="form-group">
            <label>Telefone</label>
            {{ form.phone(class="form-control", placeholder="Seu telefone") }}
            {% if form.errors.phone %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.phone %}
                        <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>Celular</label>
            {{ form.cellphone(class="form-control") }}
            {% if form.errors.cellphone %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.cellphone %}
                        <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>CPF</label>
            {{ form.cpf(class="form-control") }}
            {% if form.errors.cpf %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.cpf %}
                        <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>Rua</label>
            {{ form.street(class="form-control") }}
            {% if form.errors.street %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.street %}
                        <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>Número</label>
            {{ form.number(class="form-control") }}
            {% if form.errors.number %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.number %}
                        <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>Cidade</label>
            {{ form.city(class="form-control") }}
            {% if form.errors.city %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.city %}
                        <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>Estado</label>
            {{ form.state(class="form-control") }}
            {% if form.errors.state %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.state %}
                        <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>CEP</label>
            {{ form.cep(class="form-control") }}
            {% if form.errors.cep %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.cep %}
                        <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Gravar</button>
    </form>
</div>
{% endblock %}
