<h1>Relatório de vagas</h1>
<h3>Vagas disponíveis</h3>

<table class="table table-striped mb-4">
    <thead class="thead-inverse">
    
        <tr>
            <th>Título da vaga</th>
            <th>Descrição</th>
            <th>Empresa</th>
        </tr>
    </thead>
    <tbody>
        {% for j in all_jobs %}
        <tr>
            <td>{{ j.title }}</td>
            <td>{{ j.description }}</td>
            <td>{{ j.user.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
