<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}Ufscar - jobs{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- My css file -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="{{ url_for('index') }}">Home</a></li>
            {% if current_user.is_authenticated %}
            <li>
              <!-- Single button -->
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ current_user.username }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="/profile/{{ current_user.username }}">Perfil</a></li>
                  {% if current_user.is_user %}
                    <li><a href="/info/{{ current_user.username }}">Dados Pessoais</a></li>
                    <li><a href="/courses/{{ current_user.username }}">Cursos</a></li>
                    <li><a href="/works/{{ current_user.username }}">Experiência Profissional</a></li>
                    <li><a href="/candidate_details/{{ current_user.id }}">CV Completo</a></li>
                    <li><a href="/upload">Adicionar documentos</a></li>
                  {% elif current_user.is_company %}
                    <li><a href="/company_info/{{ current_user.username }}">Dados Cadastrais</a></li>
                    <li><a href="/add_job/{{ current_user.username }}">Cadastrar Vaga</a></li>
                    <li><a href="/jobs/{{ current_user.username }}">Vagas Cadastradas</a></li>
                    <li><a href="/list_candidates">Ver Candidatos</a></li>
                  {% elif current_user.is_admin %}
                    <li><a href="{{ url_for('admin_candidates') }}">Candidatos</a></li>
                    <li><a href="{{ url_for('admin_companies') }}">Empresas</a></li>
                    <li><a href="{{ url_for('admin_statistics') }}">Estatísticas</a></li>
                  {% endif %}
                    <li><a href="/evaluate">Avalie empresas</a></li>
                </ul>
              </div>
              </li>
              <li>
              <!-- Single button -->
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Buscar <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="{{ url_for('search_jobs') }}">Vagas em outros sites</a></li>
                  <li><a href="{{ url_for('search_insite_jobs') }}">Vagas neste site</a></li>
                  {% if current_user.is_company %}
                    <li><a href="{{ url_for('search_candidates') }}">Candidatos por e-mail</a></li>
                  {% endif %}
                </ul>
              </div>
              </li>
              <li><a href="{{ url_for('logout') }}">Logout</a></li>

            {% else %}
              <li><a href="{{ url_for('login') }}">Entre</a></li>
              <li><a href="{{ url_for('register') }}">Cadastre-se</a></li>
            {% endif %}
            <li><a href="{{ url_for('all_jobs') }}">VAGAS</a></li>
            <li><a href="{{ url_for('contact') }}">Contato</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Ufscar | Jobs | {{ current_user.name }}</h3>
        
      </div>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-warning">
              <ul class="flashes">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endwith %}
  
      {% block content %}

      {% endblock %}

    </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% block js %}

    {% endblock %}
  </body>
</html>