{% extends 'base.html' %}

{% block content %}

    <h3>Candidato: {{ c['user'].name }}</h3>
    <h3>E-mail: {{ c['user'].email }}</h3>
    
    <br>
    <h3>Cursos:</h3>
    <table class="table table-striped mb-4">
        
        <thead class="thead-inverse">
        <tr>
            <th>Curso</th>
            <th>Escola</th>
            <th>Tipo</th>
            <th>Carga horária</th>
            <th>Conclusão</th>
            {% if not current_user.is_company %}
                <th>Editar</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
            {% for course in c['courses'] %}
                <tr>
                    <td>{{ course.course_name }}</td>
                    <td>{{ course.school_name }}</td>
                    <td>{{ course.grade }}</td>
                    <td>{{ course.course_load }}</td>
                    <td>{{ course.conclusion }}</td>
                    {% if not current_user.is_company %}
                        <td><a href="{{ url_for('edit_course', id=course.id) }}">Editar</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <h3>Experiência Profissional:</h3>
    <table class="table table-striped mb-4">
        
        <thead class="thead-inverse">
            <tr>
                <th>Cargo</th>
                <th>Empresa</th>
                <th>Data de entrada</th>
                <th>Data de saida</th>
                <th>Tarefas</th>
                {% if not current_user.is_company %}
                    <th>Editar</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for work in c['works'] %}
                <tr>
                    <td>{{ work.post }}</td>
                    <td>{{ work.company }}</td>
                    <td>{{ work.entry_date }}</td>
                    <td>{{ work.departure_date }}</td>
                    <td>{{ work.tasks }}</td>
                    {% if not current_user.is_company %}
                        <td><a href="{{ url_for('edit_work', id=work.id) }}">Editar</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>    
    </table>

    <h3>Documentos anexos:</h3>
    <table class="table table-striped mb-4">
        <thead class="thead-inverse">
            <tr>
                <th>Tipo</th>
                <th>Nome</th>
                <th>Link</th>
                {% if current_user == c['user'] %}
                    <th>Excluir</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for document in c['documents'] %}
                <tr>
                    <td>{{ document.kind }}</td>
                    <td>{{ document.name }}</td>
                    <td><a href="{{ document.path }}">Visualizar</a></td>
                    {% if current_user == c['user'] %}
                        <td><a href="{{ url_for('delete_document', id=document.id) }}">Excluir</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}