 {% extends 'base.html' %}

 {% block content %}
<div class="col-md-4 col-md-offset-4">
    <h2>Editar</h2>
    <form action="" method="POST">
        {{ form.csrf_token }}
        
        <div class="form-group">
            <label>Nome</label>
            <input class="form-control" type="text" name="name" value="{{ current_user.name }}">
            {% if form.errors.name %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.name %}
                        <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>E-mail</label>
            <input class="form-control" type="text" name="email" value="{{ current_user.email }}">
            {% if form.errors.email %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.email %}
                        <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        
        <div class="form-group">
            <label>Nome de usuário</label>
            <input class="form-control" type="text" name="username" value="{{ current_user.username }}">
            {% if form.errors.username %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.username %}
                        <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>Senha</label>
            <input class="form-control" type="password" name="password" value="{{ current_user.password }}">
            {% if form.errors.password %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.password %}
                        <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>


        <div class="form-group">
            <label>Confirme sua senha</label>
            <input class="form-control" type="password" name="confirm">
            {% if form.errors.confirm %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.confirm %}
                        <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-default">Atualizar</button>
    </form>
</div>
 {% endblock %}