{% extends 'base.html' %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
    <h2>Esqueceu sua senha?</h2>
    <h3>Informe seu e-mail para redifinir sua senha</h3>
    <form action="" method="POST">

    {{ form.csrf_token }}
        
        <div class="form-group">
            <label>E-mail</label>
            {{ form.email(class="form-control", placeholder="E-mail") }}
            {% if form.errors.email %}
            <div class="alert alert-danger" role="alert">
                <ul>
                    {% for e in form.errors.email %}
                        <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Gravar</button>
    </form>
</div>
{% endblock %}
