{% extends 'base.html' %}

{% block content %}

<h3>Candidatos encontrados</h3>

<table class="table table-striped mb-4">
{% if candidate %}
            
    <thead class="thead-inverse">
        <tr>
            <th>Nome do candidato</th>
            <th>Descrição</th>
            <th>Detalhes</th> 
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{ candidate.name }}</td>
            <td>{{ candidate.email }}</td>
            <td><a href="{{ url_for('candidate_details', id=candidate.id) }}">Ver perfil</a></td>
        </tr>
    </tbody>
{% else %}
    Nenhum resultado encontrado.
{% endif %}
</table>

{% endblock %}
