{% extends 'base.html' %}

{% block title %}{{ super() }} - Home{% endblock %}

{% block content %}

<div class="jumbotron">
<h1>Bem-vindo à Ufscar Jobs</h1>
<p class="lead">Encontrar o estágio ou emprego ideal ficou muito mais fácil. Com a Ufscar Jobs você tem acesso a todas as vagas dos principais portais de emprego em um só lugar!</p>
<p><a class="btn btn-lg btn-success" href="{{ url_for('register') }}" role="button">Cadastre-se hoje</a></p>
</div>

<div class="row marketing">
<div class="col-lg-6">
  <h4>Busque vagas</h4>
  <p>Procure vagas em diversos sites de uma vez só! Muito simples e rápido.</p>

  <h4>Entenda o mercado</h4>
  <p>Saiba o que as empresas estão buscando e sai na frente na busca por uma oportunidade de trabalho incrível.</p>

  <h4>Receba alertas</h4>
  <p>Cadastre seu e-mail e receba vagas exclusivas todos os dias.</p>
</div>

<div class="col-lg-6">
  <h4>Dicas para entrevistas</h4>
  <p>Leia nosso blog e fique por dentro de todas as dicas para se sair bem em uma entrevista.</p>

  <h4>Serviços gratuitos</h4>
  <p>Todos os serviços são totalmente gratuitos para os candidatos. Encontre a vaga perfeita e aplique agora mesmo!.</p>

  <h4>Teste seus conhecimento!</h4>
  <p>Realize testes para garantir e atestar sua qualificação profissioal!.</p>
</div>
</div>

{% endblock %}