{% extends 'base.html' %}

{% block content %}

<h3>Vagas postadas pela empresa {{ current_user.name }}</h3>

<table class="table table-striped mb-4">
    <thead class="thead-inverse">
    <tr>
        <th>Título</th>
        <th>Descrição</th>
        <th>Atualizar</th>
        <th>Excluir</th> 
    </tr>
    </thead>
    <tbody>
    {% for j in jobs %}
    <tr>
        <td>{{ j.title }}</td>
        <td>{{ j.description }}</td>
        <td><a href="{{ url_for('edit_job', id=j.id) }}"><span class="glyphicon glyphicon-edit"></span></a></td>
        <td><a href="{{ url_for('delete_job', id=j.id) }}"><span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('add_job', username=current_user.username) }}" class="btn btn-primary">Adicionar nova vaga</a>

{% endblock %}

