{% extends 'base.html' %}

{% block content %}

<div id="content">
    
    <div class="col-md-8 col-md-offset-2">
        <h3>Buscar vaga por palavra-chave</h3>
        <form action="" method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
                <label>Buscar</label>
                {{ form.search(class="form-control", placeholder="Pesquisa") }}
                {% if form.errors.search %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for e in form.errors.search %}
                            <li>{{ e }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            <button class="btn btn-primary" type="submit" href="/search_insite_jobs">Buscar</button>
        </form>
    </div>
</div>

{% endblock %}