{% extends 'base.html' %}

{% block content %}

<div id="content">
    
    <div class="col-md-8 col-md-offset-2">
        <h3>Buscar vagas em outros sites</h3>
        <h5>No momento busca disponível nos sites InfoJobs, Profissionais TI e Vagas.</h5>
        <form action="" method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
                <label>Buscar</label>
                {{ form.search(class="form-control", placeholder="Pesquisa") }}
                {% if form.errors.search %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for e in form.errors.search %}
                            <li>{{ e }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>

            <button class="btn btn-primary" type="submit" href="/search_outjobs/{{ form.search.data }}" onclick="loading()">Buscar</button>
        </form>
    </div>
</div>

<div id="loading" class="col-md-8 col-md-offset-2 text-center"><br><br><img align="center" src="/static/loading.gif"><br><br><p>Aguarde enquanto a busca está sendo realizada</p></div>

<script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();       
        }
// ]]></script>

{% endblock %}