{% extends 'base.html' %}

{% block content %}

<h3>Experiência profissional de {{ current_user.name }}</h3>

<table class="table table-bordered">
    
    <tr>
        <th>Cargo</th>
        <th>Empresa</th>
        <th>Data de início</th>
        <th>Data de término</th>
        <th>Atividades</th>
        <th>Observação</th>
        <th>Atualizar</th>
        <th>Excluir</th> 
    </tr>
    
    {% for w in works %}
    <tr>
        <td>{{ w.post }}</td>
        <td>{{ w.company }}</td>
        <td>{{ w.entry_date }}</td>
        <td>{{ w.departure_date }}</td>
        <td>{{ w.tasks }}</td>
        <td>{{ w.observation }}</td>
        <td><a href="{{ url_for('edit_work', username=current_user.username) }}"><span class="glyphicon glyphicon-edit"></span></a></td>
        <td><a href="{{ url_for('delete_work', id=w.id) }}"><span class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
    {% endfor %}
    
</table>

<a href="{{ url_for('add_work', username=current_user.username) }}" class="btn btn-primary">Adicionar nova experiência</a>

{% endblock %}

